<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <style>        
      * {margin:0; padding:0;}
      #app {margin: 40px auto; width:1280px; }
      .tabs {display:flex; gap:3px 10px; margin-bottom:10px;}
      .tabs .tab {width:100%; padding:8px 20px; border:1px solid #ddd; border-radius:4px;}
      .tabs .tab.active {background-color:cornflowerblue; color:#fff;}
      .contents .content {padding:20px; border:1px solid #ddd;}
    </style>
</head>
<body>    
    <div id="app">
      <div class="tab_container">
        <div class="tabs">
          <button type="button" 
          :class="['tab', {active : index === currentTab} ]"
          v-for="(list,index) in lists" :key="('tab',index)"
          @click="currentTab = index">{{list.title}}</button>
        </div>
        <section class="contents">
          <div class="content" v-show="index === currentTab" v-for="(list,index) in lists" :key="('content',index)">{{list.content}}</div>
        </section>
      </div>
    </div>

    <!-- script -->  
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#app",
            data: {
                currentTab:0,
                lists : [
                  {id:1, title:'Tab1', content: '탭 컨텐츠1'},
                  {id:2, title:'Tab2', content: '탭 컨텐츠2'},
                  {id:3, title:'Tab3', content: '탭 컨텐츠3'}
                ]
            },
            methods : {
              active : function () {


              }
            }
        })
    </script>
</body>
</html>